<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta
        name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <title>mg-translate example</title>
    <link rel="stylesheet" href="app.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
</head>
<body ng-app="app" ng-controller="IndexController as ctl">

<header class="navbar">
    <div class="container-fluid">
        <ul class="nav navbar-nav navbar-left">
            <li class="dropdown">
                <a
                        dropdown
                        class="dropdown-toggle"
                        data-toggle="dropdown"
                        role="button"
                        aria-haspopup="true"
                        aria-expanded="false">
                    <i class="fa fa-language"></i>
                    <t>Language</t> <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a ng-click="ctl.setLanguage('en')" t>English</a></li>
                    <li><a ng-click="ctl.setLanguage('ru')" t>Russian</a></li>
                </ul>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a ng-click="ctl.setLanguage('ru')" href="https://github.com/megahertz/mg-translate/releases">
                    <i class="fa fa-download"></i>
                    <t>Download</t>
                </a>
            </li>
            <li>
                <a href="https://github.com/megahertz/mg-translate">
                    <i class="fa fa-github"></i>
                    Github
                </a>
            </li>
        </ul>
    </div>
</header>

<section class="title-header">
    <div class="container">
        <h1>mg-translate</h1>
        <h2 t>Simple and lightweight (~3kb) angular translate library with format similar
            to yii or drupal</h2>
        <div class="buttons">
            <a class="btn btn-bs" href="https://github.com/megahertz/mg-translate/releases">
                <i class="fa fa-download"></i>
                <t>Download</t>
            </a>

            <a class="btn btn-bs" href="https://github.com/megahertz/mg-translate">
                <i class="fa fa-github"></i>
                Github
            </a>
        </div>
    </div>
</section>

<main class="container">
    <h2 t>Installation</h2>

    <div class="row">
        <div class="col-sm-6">
            <h3 t>Install with Bower</h3>
            <code class="bash">$ bower install mg-translate</code>
        </div>
        <div class="col-sm-6">
            <h3 t>Install with NPM</h3>
            <code class="bash">$ npm install mg-translate</code>
        </div>
    </div>

    <h2 t>Examples</h2>
    <div class="row">
        <div class="col-sm-6">
            <h3 t>Directive</h3>

            <code>&lt;!-- <t>Simple example</t> --&gt;
                &lt;h1 t&gt;Hello world&lt;/h1&gt;
                &lt;t&gt;sample&lt;/t&gt;

                &lt;!-- <t>Translate an attribute</t> --&gt;
                &lt;input type=&quot;email&quot; placeholder=&quot;Email&quot; t=&quot;placeholder&quot;&gt;

                &lt;!-- <t>Using plural rules</t> --&gt;
                &lt;span t values=&quot;10&quot;&gt;{n} Day|{n} Days&lt;/span&gt;</code>

        </div>
        <div class="col-sm-6">

            <h3 t>Filter</h3>
            <code class="html">&lt;h1 t&gt;{{ 'Welcome' | t }}&lt;/h1&gt;</code>

            <h3 t>Service</h3>
            <code class="javascript">function SampleController(t) {
                this.text = t('Welcome');
                }</code>

        </div>
    </div>

    <h2 t>Load translations</h2>

    <h3 t>Using provider config</h3>
    <code class="javascript">angular
        .module('app')
        .config(function config(tProvider) {
        tProvider.load('/languages/ru.json'); // Load translations from file
        tProvider.load('ru', { // Load directly
        'Test' : 'Тест'
        });
        tProvider.load('ru', '$plural', function(n) { // Load plural rules function
        ...
        });
        });</code>

    <h3 t>Using service</h3>
    <code class="javascript">function SampleController(t) {
        t.load('ru', { // Load directly
        'Test' : 'Тест'
        });
        t.load('/languages/ru.json').then(function() { // Load translations from file
        console.log('language is loaded');
        });
        }</code>

    <h3 t>Load plural rules</h3>
    Plural rule is just a function which gets a number and returns the corresponding index.
    You can get plural rules for required languages.
    on [js-simple-plurals](https://github.com/megahertz/js-simple-plurals/tree/master/web).
    <code class="javascript">function SampleController(t) {
        t.load('ru', '$plural', function(n) { // Load plural rules function
        // function from https://github.com/megahertz/js-simple-plurals/blob/master/web/ru.js
        });
        }</code>

    <h3 t>Load translation file</h3>
    <code class="javascript">// app.config.js:
        angular
        .module('app')
        .config(function config(tProvider) {
        tProvider.load('/languages/ru.json');
        });</code>
    ru.json:
    <code class="json">{
        &quot;language&quot;: &quot;ru&quot;,
        &quot;data&quot;: {
        &quot;Welcome&quot;: &quot;Добро пожаловат&quot;,
        &quot;User&quot;: &quot;Пользователь&quot;,
        …
        },
        &quot;$plural&quot;: &quot;function (p) { var n = Math.abs(p)||0,
        i = Math.floor(n,10)||0, v = ((p+'').split('.')[1]||'').length,
        i10 = i % 10, i100 = i % 100;
        return v === 0 &amp;&amp; i10 === 1 &amp;&amp; i100 !== 11 ? 0 : v === 0 &amp;&amp;
        (i10 &gt;= 2 &amp;&amp; i10 &lt;= 4) &amp;&amp; !(i100 &gt;= 12 &amp;&amp;
        i100 &lt;= 14) ? 1 : v === 0 &amp;&amp; i10 === 0 || v === 0 &amp;&amp;
        (i10 &gt;= 5 &amp;&amp; i10 &lt;= 9) || v === 0 &amp;&amp;
        (i100 &gt;= 11 &amp;&amp; i100 &lt;= 14) ? 2 : 3; }&quot;
        }</code>

    <h3 t>Load translations as a module config</h3>
    <code class="javascript">(function() {
        'use strict';

        var TRANSLATIONS = {
        'Download' : 'Скачать',
        …
        };

        angular
        .module('mg.translate')
        .config(config);

        /** @ngInject */
        function config(tProvider) {
        tProvider.load('ru', '$plural', function(p) {
        // plural rule
        });

        tProvider.load('ru', TRANSLATIONS);
        }

        })();</code>
    <t>Just load this file as regular angular file</t>
    <code class="html">&lt;script src=&quot;langs/ru.js&quot;&gt;&lt;/script&gt;</code>

    <h2 t>API Documentation</h2>

    <h3><t>Provider</t> tProvider</h3>

    <dl>
        <dt>load(url:string)</dt>
        <dd><t>Load translation file</t>.</dd>

        <dt>load(language:string, [category:string='app'], translations:Object)</dt>
        <dd t>Loads translations from Object.</dd>

        <dt>load(language:string, '$plural', pluralRules:Function)</dt>
        <dd><t>Load plural rules</t>.</dd>

        <dt class="offset">language(language:string)</dt>
        <dd t>
            Sets an application language. If the language is not set the library
            tries to detect it automatically using a navigator object or a value from
            localStorage.lang. To disable autodetection you can set a false value.
        </dd>

        <dt>language()</dt>
        <dd t>Returns an application language.</dd>
    </dl>

    <h3><t>Service</t> t</h3>
    <dl>
        <dt>t(text:string, [null, category:string='app'])</dt>
        <dd t>Translates the text.</dd>

        <dt>t(text:string, number:number, [category:string='app'])</dt>
        <dd t>Translates the text using plural rules. Or just replace {n} placeholder
            in text by the number.</dd>

        <dt>t(text:string, values:Object, [category:string='app'])</dt>
        <dd t>Translates the text and replaces each placeholder by a corresponding value.</dd>

        <dt class="offset">t.load(url:string):Promise</dt>
        <dd t><t>Load translation file</t>.</dd>

        <dt>t.load(language:string, [category:string='app'], translations:Object)</dt>
        <dd t>Loads translations from Object.</dd>

        <dt>t.load(language:string, '$plural', pluralRules:Function)</dt>
        <dd><t>Load plural rules</t>.</dd>

        <dt class="offset">t.language(language:string)</dt>
        <dd t>
            Sets an application language. If the language is not set the library
            tries to detect it automatically using a navigator object or a value from
            localStorage.lang. To disable autodetection you can set a false value.
        </dd>

        <dt>t.language()</dt>
        <dd t>Returns an application language.</dd>
    </dl>

    <h3 t><t>Filter</t> t</h3>

    The t filter function is the same as t() service function.

    <h3><t>Directive</t> t</h3>

    <t>The t directive can be used as an element or as an attribute. values and category
        parameters are the same as for t() service function.</t>

    <code class="html">&lt;ANY
        [t="{string}"]
        [values="{number|Object}"]
        [category="{string}"]&gt;
        &lt;/ANY&gt;

        &lt;t
        [values="{number|Object}"]
        [category="{string}"]&gt;
        &lt;/t&gt;</code>

    <h4 t>Parameters</h4>

    <table class="table table-bordered table-striped">
        <tr>
            <th t>Name</th>
            <th t>Default</th>
            <th t>Description</th>
        </tr>
        <tr>
            <td>t (optional)</td>
            <td>'html'</td>
            <td t>A list of attributes which must be translated,
                separated by comma. The html means an element content</td>
        </tr>
        <tr>
            <td>values (optional)</td>
            <td>null</td>
            <td t>Number for plural rules or values to replace placeholders</td>
        </tr>
        <tr>
            <td>category (optional)</td>
            <td>'app'</td>
            <td t>Translations category</td>
        </tr>
    </table>

    <h2 t>License</h2>

    <t>Licensed under MIT.</t>

</main>

<footer role="contentinfo">
    <div class="container">
        <ul class="nav navbar-nav">
            <li>
                <a href="https://github.com/megahertz/mg-translate/releases">
                    <i class="fa fa-download"></i>
                    <t>Download</t>
                </a>
            </li>
            <li>
                <a href="https://github.com/megahertz/mg-translate">
                    <i class="fa fa-github"></i>
                    Github
                </a>
            </li>
        </ul>
    </div>
</footer>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.1.0/styles/default.min.css">

<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.1.0/highlight.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
<script src="src/mg-translate.js"></script>
<script src="langs/ru.js"></script>

<script>
    // That's all the code required for translate UI
    angular
        .module('app', ['mg.translate'])
        .controller('IndexController', function (t) {
            this.setLanguage = function(language) {
                t.language(language);
            }
        })


</script>

<script>
    // Helper code
    angular.module('app')

        // Hightlight code examples
        .directive('code', function() {
            return function(scope, element) {
                hljs.highlightBlock(element[0]);
            }
        })

        // Instead of including Bootstrap and jQuery JS files
        .directive('dropdown', function() {
            return function (scope, element) {
                element.parent().on('click', function() {
                    element.parent().toggleClass('open');
                });
            }
        })
</script>

</body>
</html>